@font-face {
    font-family: 'Segoe UI';
    font-weight: 1 999;
    src: url('/fonts/SegoeUI-VF.ttf') format('truetype-variations');
}
body {
    background-color: #DAF3FD;
    width: 984px;
    margin: 0 auto;
    padding: 0;
}
#main-background {
    background-image: url('/images/bg_span_wol.gif');
    background-repeat: repeat-y;
    min-height: 100vh;
}
#page-frame {
    width: 958px;
    padding: 0 12px 0 14px;
}
#navbar-background {
    background-image: url('/images/header_bkg_wol.jpg');
    background-repeat: no-repeat;
    height: 129px;
    margin: 0 -12px 0 -14px;
}
#navbar {
    padding: 0 calc(12px + 25px) 0 calc(14px + 25px);
}
#dylanbksp-logo-header {
    margin: 34px 0 14px 1px; 
}
#main-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 0;
}
#main-nav > li > a {
    font-size: 122%;
    line-height: 15.8pt;
    color: #0066CC;
    text-decoration: none;
}
#main-nav > li > a:hover {
    color: #006699;
}
#main-content {
    padding: 0 15px 0 20px;
    min-height: calc(100vh - 129px);
}
#site-map {
    display: block;
    font-size: 0;
}
#site-explore {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: stretch;
}
#site-explore > a {
    text-decoration: none;
    color: #4EB0E9;
}
#site-explore > a:hover {
    text-decoration: underline;
}
#site-columns {
    display: flex;
    flex-direction: row;
}
.site-column {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}
.site-column > li {
    line-height: 0;
}
.site-column > li > * {
    color: #646464;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.site-column > li > a {
    text-decoration: none;
}
.site-column > li > a:hover {
    color: #4eb0e9;
}
.site-column > li > a:active {
    color: #F58220;
}
.site-link-header {
    font-weight: bold;
}
#site-footer {
    background-image: url('/images/bg_footer_image_wol.jpg');
    background-repeat: none;
    height: 131px;
    margin: 0 -12px 0 -14px;
}
#dylanbksp-logo-footer {
    margin: 61px 40px 0 39px;
}
a {
    color: #005A88;
    text-decoration: none;
}
a:hover {
    color: #138CDD;
    text-decoration: underline;
}
a:active {
    color: #F58220;
}
h1 {
    color: #646464;
    font-size: 20px;
    font-weight: lighter;
}
* {
    font-size: 13px;
    line-height: 1.5em;
    color: #4e4e4e;
    /* margin: 0.25em 0em 15px 0em; */
    font-family: 'Segoe UI';
}